<!DOCTYPE html>
<html>
    <head>
        <title>
            LOGIN
        </title>
    </head>
    <body>
        <% include top.ejs %>
        <section class="content">
        <div class="container-fluid">
            <div class="block-header">
        </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card" style="width : 85%; margin-left : 40px; margin-top:50px" >
                        <div class="header">
                            <h2>LOGIN : MOVE TOWARDS A BETTER LIFE</h2>
                         </div>
                        <div class="body">
                        <section>
         <form method="POST" action="/login">
        <!--<label for="Username">USERNAME:</label><input type="text" name="username"><br>      
        <label for="Password">PASSWORD:</label><input type="password" name="password"><br>-->
        <table>
        <tr><td><label for="Password">USERNAME:</label></td><td style="padding-bottom:0%"><div class="col-sm-12"><div class="form-group form-float">
        <div class="form-line"><input type="text" name="username" class="form-control"></div></div></td></tr> 
        <tr><td><label for="Password">PASSWORD:</label></td><td style="padding-bottom:0%"><div class="col-sm-12"><div class="form-group form-float">
        <div class="form-line"><input type="password" name="password" class="form-control"></div></div></td></tr> 
        </table>
        <button type="submit" class="btn bg-teal waves-effect" style="float : right">SUBMIT</button>
        <br><br>
        </form>


    </section>
</section>    


    </body>
</html>