<!DOCTYPE html>
<html>
    <head>
        <title>
            Donateasy
        </title>
    </head>
    <body>
        <% include top.ejs %>
        <img src="/public/uploads/slide-in menu.png">
<h2>PROFILE</h2>
</body>
</html> 